*{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;

}


.hero{
    height: 100vh;
    width: 100%;
    background-image: url(header3.jpg);
    background-size: cover;
    background-position: center;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;

}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;

}

span{
    color: #b882ff;
}

span2{

    color: #ccff41;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;

}

nav ul li a{

    border: 2px soild transparent;
    color: #121caf;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
    
}

nav ul li a:hover{
    background-color: #fcfcfc;
    color: #121caf;
    font-weight: blod;
    padding: 10px 25px;
    border-radius: 30px;
    transform: scale(1.2);
    transform: .4s;
}

.btn{
    background-color: #121caf;
    color: white;
    text-decoration: none;
    border: 2px soild transparent;
    font-weight: blod;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;

}

.btn:hover{
    transform: scale(1.2);

}



.btn2{
    background-color: #af1212;
    color: white;
    text-decoration: none;
    border: 2px soild transparent;
    font-weight: blod;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;

}

.btn2:hover{
    transform: scale(1.2);

}


.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 55px;

}

h3{
    color: white;
    font-size: 25px;
    margin-bottom: 50px;

}

h4{
    color: #fcfcfc;
    letter-spacing: 2px;
    font-size: 20px;

}

.newslatter form{
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #121caf;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #121caf;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #3744ff;
    top: 6px;
    right: 6px;    
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191911;

}

.about img{
    height: 360px;
    width: 480px;
    margin-bottom: 10%;
    margin-top: 2%;

}

.about-text{
    width: 550px;

}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-top: 5%;

}



.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;


}


.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;


}

.about-text h6{
    color: white;
    letter-spacing: 2px;
    font-size: 15px;
    margin-bottom: 10px;
    text-transform: capitalize;


}


.about-text p{
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 15px;
    margin-bottom: 45px;

}


button{
    background-color: #121caf;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;

}


button:hover{
    background-color: transparent;
    border: 2px solid #121caf;
    cursor: pointer; 
}


.service{
    background-color: #101010;
    width: 100%;
    padding: 100px 0px;

}

.title h2{
    color: white;
    font-size: 20px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
    background-color: #191919;

}

.card{
    height: 390px;
    width: 355px;
    padding: 20px 40px;
    background: #191919;
    border-radius: 10px;
    margin: 25px;
    position: relative;
    overflow: hidden;
    text-align: center;

}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #121caf;

}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;

}

.pra p{
    color: #fcfcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;

}

.card .button{

    background-color: #121caf;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}


.card .button:hover{
    background-color: transparent;
    border: 2px solid #121caf;
    cursor: pointer; 
}

.contact-me{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.contact-me p{

    color: white;
    font-size: 30px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 25px;

}


.contact-me .button-two{
    background-color: #121caf;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;

}


.contact-me .button-two:hover{

    background-color: transparent;
    border: 2px solid #121caf;
    cursor: pointer; 

}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}


footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;

}


footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social{
    display: flex;

}

.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #121caf;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;

}


.social a:hover{
    transform: scale(1.3);
    transition: .3s;

}

.end{
    position: absolute;
    color: #121caf;
    bottom: 35px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.car{
    width: 200px;
    height: 150px;
}



.pages{
    background-color: #101010;
    
}


.cont1{
    margin: 40%;
    margin-left: 5%;
    margin-bottom: 30%;
    padding: 10%;
}



ul li .cont1{

    bottom: 55px;
    width: 200px;
    background: rgb(255, 255, 255);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

ul li .cont1:before{

    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.397);
    top: -15px;
    left: 190px;
    transform: rotate(45deg);
}

ul li:hover .cont1{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%) translateY(0px);

}


ul li .cont1{

    position: absolute;
    bottom: 85px;
    width: 350px;
    background: #fff;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

ul li .cont1:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    bottom: -15px;
    left: 120px;
    transform: rotate(45deg);
}




ul li:hover .cont1{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%) translateY(0px);

}








.cont2{
    margin: 45%;
    margin-left: 5%;
    margin-bottom: 25%;
    padding: 10%;
}

ul li .cont2{

    bottom: 55px;
    width: 200px;
    background: rgb(255, 255, 255);
    padding: 20px;
    box-sizing: border-box;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

ul li .cont2:before{

    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgba(255, 255, 255, 0.397);
    top: -15px;
    left: 190px;
    transform: rotate(45deg);
}

ul li:hover .cont2{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%) translateY(0px);

}


ul li .cont2{

    position: absolute;
    bottom: 85px;
    width: 350px;
    background: #fff;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

ul li .cont2:before{
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: #fff;
    bottom: -15px;
    left: 120px;
    transform: rotate(45deg);
}




ul li:hover .cont2{
    visibility: visible;
    opacity: 1;
    transform: translate(-50%) translateY(0px);

}




*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


    
}

.popup{
    position: relative;
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 450px;
    padding: 10px 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 89%;
    top: 50%;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
    color: #000;


    -webkit-box-shadow: 4px 4px 34px 7px rgba(0,0,0,0.69);
-moz-box-shadow: 4px 4px 34px 7px rgba(0,0,0,0.69);
box-shadow: 4px 4px 34px 7px rgba(0,0,0,0.69);
    
}



h11{    
    
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(179, 148, 148);
    font-size: 25px;

}


.popup button{
    display: block;
    margin: 0 0 9px auto;
    background-color: transparent;
    font-size: 30px;
    color: #afafaf;
    border: none;
    outline: none;
    cursor:pointer;



}



.ads{

    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 450px;
    padding: 10px 50px;
    position: absolute;
    transform: translate(-50%,-50%);
    right: 69%;
    top: 450%;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
    color: #000;


    -webkit-box-shadow: 4px 4px 34px 7px rgba(0,0,0,0.69);
-moz-box-shadow: 4px 4px 34px 7px rgba(0,0,0,0.69);
box-shadow: 4px 4px 34px 7px rgba(0,0,0,0.69);
    
}



h11{    
    
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(179, 148, 148);
    font-size: 25px;

}


.ads button{
    display: block;
    margin: 0 0 9px auto;
    background-color: transparent;
    font-size: 30px;
    color: #afafaf;
    border: none;
    outline: none;
    cursor:pointer;



}


::-webkit-scrollbar{
    width:0;

}


::-webkit-scrollbar 

#scrollpath{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(26, 24, 24, 0.05);
    
}


#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top,#008aff,#00ffe7) ;

    animation:animete 5s linear infinite;
}


@keyframes animete{
    0%,100%
    {
        filter: hue-rotate(0deg);
        
    }   
    50%{
        filter: hue-rotate(360deg);
        
    }
}



#progressbar::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top,#008aff,#00ffe7);
    filter:blur(30px);
}




